
body {
  background-image: url('./assets/burger-friends.jpg');
  background-size: cover;
  background-position: center 01;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  background-color: #0fb9b1;
}

.title {
 padding-left: 3%;
}

.boxContainer{
  display: flex;
  justify-content: center;
}

.boxes {
  margin-top: 4%;
  margin-left: 6%;
  margin-right:6%;
  width: 40%;
  background-color: rgba(225, 225, 225, .9);
  opacity: 1;
}

form {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}

.title2 {
  margin-top: 15%;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 2em;
}

label {
  font-size: 1.25em;
}

input {
  margin: 3%;
  margin-left: 12%;
}

sup {
  color: #ee5253;
}

svg {
  margin-left: 30%;
  margin-top: 22%;
  height: 40%;
  width: 40%;
}

button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 5px;
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 5%;
  margin-left: 12%;
  margin-bottom: 5%;
  font-size: 1em;
}

#you-make {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-top: 25%;
}

#change-dish {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
  margin: 7%;
}

#change-meal {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  margin-left: 7%;
  margin-right: 7%;
}

#clear {
  margin-top: 3%;
  margin-left: 75%;
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  padding-left: 5%;
  padding-right: 5%;
}

#clear-two {
  margin-top: 3%;
  margin-left: 75%;
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  padding-left: 5%;
  padding-right: 5%;
}

.hidden-dish {
  display: none;
}

.hidden-main {
  display: none;
}



/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
<
